<div class="flex actions mt-4 gap-2 mr-4 items-center justify-end">
  <% if step != :overview %>
    <%= link_to "Back", previous_wizard_path, class: "inline-flex items-center px-6 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" %>
  <% end %>

  <% if step == :summary %>
    <%= f.submit "Finish Episode", class: "inline-flex items-center px-6 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" %>
  <% else %>
    <%= f.submit "Next", class: "inline-flex items-center px-6 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-orange-600 hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500" %>
  <% end %>
</div>


