<div><%= link_to "back", podcast_index_path, class: "bg-blue-500 text-white py-2 px-4 rounded" %></div>

<div class="min-h-screen w-full flex items-start justify-center">
  <%= render "podcast/form" %>
</div>
